<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load static %} 
{% load crispy_forms_tags %} 
{% load tz %} 
{% block titulos %}
{{title}}|
{% endblock %}

<style>
  .hidden {
    display: none;
  }
</style>
<!-- prettier-ignore -->
{% block menul %}
<div class="form-group text-left mt-2 m-3">
  <a
    title="Clique aqui para fechar"
    href="{% url 'atas_listar' %}"
    class="mt-2 list-group-item list-group-item-action bg-primary text-white rounded"
  >
    <i class="fas fa-times-circle me-2" style="transition: color 0.3s"></i>Fechar
  </a>
  <a
    href="{% url 'atas_listar' %}"
    class="mt-2 list-group-item list-group-item-action custom-link rounded"
  >
    <i class="fas fa-list me-2"></i>Lista de Atas
  </a>
</div>
{% endblock %}

<!-- prettier-ignore -->
{% block cabdados %}
{% include 'parciais/_module_context_header.html' with icon_class='fas fa-file-signature' title='Nova Ata' subtitle='Registre participantes, assunto e conteúdo com um cabeçalho mais consistente.' primary_label='Fluxo' primary_value='Cadastro' secondary_label='Módulo' secondary_value='Atas' %}

{% endblock %}

<!-- prettier-ignore -->
{% block lista %}

<div class="d-flex justify-content-start">
  <button
    id="insertDefaultDocs"
    data-tipo-documento="atas"
    class="btn btn-sm btn-success btn-outline-light"
  >
    <i class="fas fa-plus" style="transition: color 0.3s"></i>Texto Padrão
  </button>

  <!-- Certifique-se de que você tem um elemento com o ID 'context-menu' no seu HTML para que o menu de contexto possa ser exibido. -->
  <div id="context-menu" style="display: none">
    <!-- Os itens do menu serão inseridos aqui dinamicamente pelo JavaScript -->
  </div>
</div>

<!--TABELA CONT DIREITA-->
<div class="container">
  <form
    id="form-atas-cadastrar"
    method="post"
    class="form-control mt-2"
    enctype="multipart/form-data"
  >
    <!-- prettier-ignore -->
    {% csrf_token %}
    <!-- prettier-ignore -->
    {{ form.media }}

    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <div id="table-container">
          <div class="container">
            <div class="row">
              <!-- Campo Participantes -->
              <div class="col-md-6">
                {{ form.participantes|as_crispy_field }}
              </div>
              <!-- Campo Assunto -->
              <div class="col-md-6">{{ form.assunto|as_crispy_field }}</div>
              <!-- Campo Tipo de Ata -->
              <div class="col-md-6">{{ form.tipo_ata|as_crispy_field }}</div>

              <div class="col-md-6">{{ form.observacoes|as_crispy_field }}</div>
              <!-- Campo Ata -->
              <div class="col-md-12">{{ form.ata|as_crispy_field }}</div>

              <div class="col-md-12">{{ form.assinar|as_crispy_field }}</div>

              <!-- ANEXOS -->
              <div class="form-group mt-4">
                <h5 class="text-center">Anexos</h5>
                <div class="row justify-content-center">
                  <div class="col-lg-12 col-md-12 col-sm-12 mt-4">
                    <label>{{ form.anexo.label }}</label>
                    <input
                      type="file"
                      name="{{ form.anexo.name }}"
                      id="{{ form.anexo.auto_id }}"
                      class="form-control"
                    />
                    {% if object.anexo %}
                    <div class="mt-2">
                      <a href="{{ object.anexo.url }}" target="_blank"
                        >{{ object.anexo.name }}</a
                      >
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
              <!-- FIM ANEXOS -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="d-flex justify-content-end mt-2">
          <button
            id="btn-atas-cadastrar"
            type="submit"
            title="Salvar"
            class="btn btn-success btn-outline-light border border-black mx-2 ml-2"
          >
            <i class="fas fa-save" style="transition: color 0.3s">Salvar</i>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<!--FIM CADASTRAR-->
{% endblock %}

<!-- prettier-ignore -->
{% block scriptcustom %}
<!-- Incluir o script para inicializar o Select2 -->
<script src="{% static 'js/selectparadois.js' %}"></script>
<!-- Incluir o script para checagem de anexos -->

<script src="{% static 'js/texto_padrao_filtrado.js' %}"></script>

<script>
  $(document).ready(function () {
    $(".django-select2").select2();
  });
</script>

{% endblock %}
