{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% load
tz %} {% block titulos %}{{title}}|{% endblock %}

<style>
  .hidden {
    display: none;
  }
</style>

{% block menul %}
<div class="form-group text-left mt-2 m-3">
  <a
    title="Clique aqui para fechar"
    href="{% url 'atendimento_listar' %}"
    class="mt-2 list-group-item list-group-item-action bg-primary text-white rounded"
  >
    <i class="fas fa-times-circle me-2" style="transition: color 0.3s"></i>Fechar
  </a>
  <a
    href="{% url 'atendimento_listar' %}"
    class="mt-2 list-group-item list-group-item-action custom-link rounded"
  >
    <i class="fas fa-list me-2"></i>Lista de Atendimentos
  </a>
</div>
{% endblock %} {% block cabdados %}
{% include 'parciais/_module_context_header.html' with icon_class='fas fa-hospital-user' title='Novo Atendimento' subtitle='Inicie o atendimento com dados cadastrais e contexto assistencial em uma leitura mais objetiva.' primary_label='Fluxo' primary_value='Cadastro' secondary_label='Módulo' secondary_value='Atendimentos' %}

{% endblock %} {% block lista %}
<!--TABELA CONT DIREITA-->
<div class="container">
  <form
    id="form-atendimento-cadastrar"
    method="post"
    class="form-control mt-2"
    enctype="multipart/form-data"
  >
    {% csrf_token %} {{ form.media }}

    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <div id="table-container">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                {{ form.pessoa|as_crispy_field }}
              </div>

              <div class="row mt-2 mb-2">
                <div class="col-md-6 text-start">
                  <a
                    title="Cadastrar Pessoa"
                    href="{% url 'pessoa_cadastrar' %}"
                    class="btn btn-sm btn-success btn-outline-light border border-black"
                    id="addPessoaBtn"
                  >
                    <i class="fas fa-plus" style="transition: color 0.3s">
                      Adicionar Pessoa</i
                    >
                  </a>
                </div>
                <div class="col-md-6"></div>
              </div>

              <div class="col-md-6">
                {{ form.tipo_atendimento|as_crispy_field }}
              </div>
              <div class="col-md-6">
                {{ form.carater_atendimento|as_crispy_field }}
              </div>

              <div class="col-md-6">
                {{ form.dt_atendimento|as_crispy_field }}
              </div>

              <div class="col-md-6">
                {{ form.telefone_responsavel|as_crispy_field }}
              </div>
              <div class="col-md-6">
                {{ form.telefone_familiar|as_crispy_field }}
              </div>
              <div class="col-md-6">
                {{ form.telefone_extra|as_crispy_field }}
              </div>
              <div class="col-md-6">
                {{ form.cidade_encaminhamento|as_crispy_field }}
              </div>

              <div class="col-md-6">
                {{ form.entidade_encaminhamento|as_crispy_field }}
              </div>

              <div class="col-md-6">
                {{ form.diagnostico_encaminhamento|as_crispy_field }}
              </div>
              <div class="col-md-6">
                {{ form.pessoa_docentrega|as_crispy_field }}
              </div>

              <div class="col-md-6">{{ form.convenio|as_crispy_field }}</div>

              <div class="col-md-12">
                {{ form.autos_internacao|as_crispy_field }}
              </div>
              <div class="col-md-12">
                {{ form.autos_curatela|as_crispy_field }}
              </div>

              <div class="col-md-12">
                {{ form.autos_cobranca|as_crispy_field }}
              </div>

              <div class="col-md-12">{{ form.medicacao|as_crispy_field }}</div>
              <div class="col-md-12">
                {{ form.observacoes|as_crispy_field }}
              </div>
              <!-- prettier-ignore -->
              <!--CHECK BOX-->
              <div class="container form-group mt-4">
                <h5 class="text-center">Check List de Documentos</h5>
                <!-- prettier-ignore-start -->
                <div class="row justify-content-center">
                  <!-- prettier-ignore-start -->
                  {% for field in form %}
                  <!-- prettier-ignore-start -->
                  {%if field.field.widget.input_type == "checkbox"%}
                  <div class="col-md-6">{{ field|as_crispy_field }}</div>
                  {% endif %}
                  <!-- prettier-ignore-start -->
                  {% endfor %}
                </div>
              </div>
              <!--FIM CHECK BOX-->
              <!--ANEXOS-->
              <div class="form-group mt-4">
                <h5 class="text-center">Anexos</h5>
                <div class="row justify-content-center">
                  <div class="col-lg-12 col-md-12 col-sm-12 mt-4">
                    <label>{{ form.anexo_um.label }}</label>
                    <input
                      type="file"
                      name="{{ form.anexo_um.name }}"
                      id="{{ form.anexo_um.auto_id }}"
                      class="form-control"
                    />

                    {% if object.anexo_um %}
                    <div class="mt-2">
                      <span>{{ object.anexo_um.url }}</span>
                    </div>
                    {% endif %}
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 mt-4">
                    <label>{{ form.anexo_dois.label }}</label>
                    <input
                      type="file"
                      name="{{ form.anexo_dois.name }}"
                      id="{{ form.anexo_dois.auto_id }}"
                      class="form-control"
                    />
                    {% if object.anexo_dois %}
                    <div class="mt-2">
                      <span>{{ object.anexo_dois.url }}</span>
                    </div>
                    {% endif %}
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 mt-4">
                    <label>{{ form.anexo_tres.label }}</label>
                    <input
                      type="file"
                      name="{{ form.anexo_tres.name }}"
                      id="{{ form.anexo_tres.auto_id }}"
                      class="form-control"
                    />
                    {% if object.anexo_tres %}
                    <div class="mt-2">
                      <span>{{ object.anexo_tres.url }}</span>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
              <!--FIM ANEXO-->
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="d-flex justify-content-end mt-2">
          <button
            id="btn-atendimento-cadastrar"
            type="submit"
            title="Salvar"
            class="btn btn-success btn-outline-light border border-black mx-2 ml-2"
          >
            <i class="fas fa-save" style="transition: color 0.3s">Salvar</i>
          </button>
        </div>

        <div class="d-flex justify-content-end mt-2">
          <div class="form-group text-center m-2">
            <!-- LOADING -->
            <div class="spinner-border text-success mb-3" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <!-- DETALHES E LINKS -->
            <div class="col-md-12 p-2">
              <label class="text-success"
                ><strong>Cadastrando...</strong></label
              >
            </div>
            <div class="col-md-12 mt-2">
              {% if request.user.is_staff %}
              <a
                title="Registrar ou atualziar Cadastros Admin"
                href="{% url 'admin:admin_cadastros_pessoa_changelist' %}"
                class="btn btn-sm btn-primary btn-outline-light border border-black"
                id="addPessoaBtn"
              >
                <i class="fas fa-edit" style="transition: color 0.3s"
                  >Link Admin</i
                >
              </a>
              <div class="col-md-12 mt-2">
                <a
                  title="Utilize quando retornar do admin"
                  onclick="location.reload();"
                  class="btn btn-sm btn-warning btn-outline-primary border border-black"
                >
                  <i class="fas fa-sync" style="transition: color 0.3s"
                    >Atualizar</i
                  >
                </a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<!--FIM CADASTRAR-->
{% endblock %} {% block scriptcustom %}
<!-- Incluir o script para inicializar o Select2 -->
<script src="{% static 'js/selectparadois.js' %}"></script>
<!-- Incluir o script para checagem de anexos -->
<script src="{% static 'js/anexoatendimento.js' %}"></script>

<script>
  $(document).ready(function () {
    $(".django-select2").select2();
  });
</script>

{% endblock %}
