{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load templatetags %}


{% block titulos %}{{title}}|{% endblock %}


<link rel="stylesheet" href="{% static 'css/diagnostico_cadastrar_css.css' %}">


{% block menul %}
<div class="form-group text-left mt-2 m-3">


    <a href="{% url 'prontuario_detalhe' pk=diagnostico.atendimento.id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fas fa-notes-medical me-2"></i>Prontuário
    </a>
    <a href="" class="mt-2 list-group-item list-group-item-action bg-primary text-white rounded">
        <i class="fas fa-diagnoses me-2"></i>Diagnósticos
    </a>


    <a href="{% url 'evolucao_listar' atendimento_id=object.atendimento.id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fas fa-file-alt me-2"></i>Evoluções
    </a>


    <a href="{% url 'psicoterapia_listar' atendimento_id=object.atendimento.id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fas fa-brain me-2"></i>Psicoterapias
    </a>



    <a href="{% url 'prescricao_listar' atendimento_id=diagnostico.atendimento.id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fas fa-capsules me-2"></i>Prescrições
    </a>

    <a href="{% url 'adep_listar' atendimento_id=diagnostico.atendimento.id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fas fa-syringe me-2"></i>ADEP
    </a>


    <a href="{% url 'sinais_vitais_listar' atendimento_id=diagnostico.atendimento.id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fa fa-heartbeat me-2"></i>Sinais Vitais
    </a>
    <a href="{% url 'diagnostico_listar' atendimento_id=diagnostico.atendimento.id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fas fa-stethoscope me-2"></i>diagnostico
    </a>
    <a href="{% url 'plano_cuidados_listar' atendimento_id=diagnostico.atendimento.id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fas fa-procedures me-2"></i>Plano de Cuidados
    </a>

    <a href="{% url 'perdas_ganhos_listar' atendimento_id=object.atendimento.id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fa fa-weight me-2"></i>Perdas e Ganhos
    </a>
</div>

<!-- FIM MENU LATERAL -->
{% endblock %}


{% block cabdados %}

<div class="text-nowrap p-2" style="max-width: 150px;">
    Prontuário:{{ object.atendimento_id }}
</div>

<div class="text-nowrap p-2" style="max-width: 400px;">
    {{ pessoa_form.nome.value }}
</div>



{% if pessoa_form.alergico.value == 'S' %}

<button class="btn btn-danger" type="button" disabled>
    <span>Alergia(s):</span>
    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
    {{ pessoa_form.alergias.value }}
</button>
{% endif %}

<div class="text-nowrap p-2" style="max-width: 200px;">
    D.N:{{ pessoa_form.dt_nascimento.value }}
</div>

<div class="text-nowrap p-2" style="max-width: 150px;">
    CPF:{{ pessoa_form.cpf.value }}
</div>


<div class="p-2 text-nowrap" style="max-width: 190px;">
    Cidade: {{ pessoa_form.instance.cidade }}
</div>


<div class="p-2 text-nowrap" style="max-width: 120px;">
    Idade:{{ idade }}
</div>
<div class="text-nowrap p-2" style="max-width: 120px;">
    Sexo:{{ pessoa_form.sexo.value }}
</div>

<div class="text-nowrap p-2" style="max-width: 150px;">
    Cor/Raça:{{ pessoa_form.cor_raca.value }}
</div>

<div class="text-nowrap p-2" style="max-width: 180px;">
    Religião:{{ pessoa_form.religiao.value }}
</div>

<div class="text-nowrap p-2" style="max-width: 300px;">
    Filiação:{{ pessoa_form.pai.value }}, {{ pessoa_form.mae.value }}
</div>

<!-- FIM DADOS DO OBJETO -->
{% endblock %}


{% block lista %}
<div class="container">
    <form id='fomr-diagnostico-detalhe' class="form-control mt-2">
        {% csrf_token %}
        {{ diagnostico_form.media }}

        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div id="table-container">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-12 col-md-12 col-sm-12">

                                <div class="form-group">

                                    <h5>Diagnóstico: {{ object.pk }}</h5>
                                    <div class="mt-2 mb-2">
                                        <label>Diagnósticos*</label>
                                        <div class="p-2 bg-secondary-subtle rounded">
                                            <!-- Correção para iterar sobre diagnósticos relacionados -->
                                            {% for dia in object.diagnostico.all %}
                                            {{ dia }}<br>
                                            {% empty %}
                                            Nenhum diagnóstico associado.<br>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <!-- Exibição dos demais campos -->
                                    {{ diagnostico_form.observacoes|as_crispy_field }}
                                    {{ diagnostico_form.status|as_crispy_field }}
                                    {{ diagnostico_form.us_registro|as_crispy_field }}
                                    {{ diagnostico_form.dt_registro|as_crispy_field }}
                                    {{ diagnostico_form.us_atualizacao|as_crispy_field }}
                                    {{ diagnostico_form.dt_atualizacao|as_crispy_field }}
                                    {{ diagnostico_form.estabelecimento|as_crispy_field }}


                                </div>

                            </div>





                        </div>
                    </div>
                </div>
            </div>





            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-end">

                        <a title="Clique aqui para fechar"
                            href="{% url 'diagnostico_listar' atendimento_id=diagnostico.atendimento.id %}"
                            class="btn btn-outline-dark mx-2 ml-2">
                            <i class="fas fa-times-circle" style="transition: color 0.3s;">Fechar</i>
                        </a>
                    </div>


                    <div class="d-flex justify-content-end mt-2">
                        <div class="mt-2">
                            {% if objeto_anterior %}
                            <a class="btn btn-outline-primary mx-2 ml-2"
                                href="{% url 'diagnostico_detalhe' objeto_anterior.id %}">&lt; </a>
                            {% endif %}
                        </div>

                        <div class="mt-2">
                            {% if proximo_objeto %}
                            <a class="btn btn-outline-primary mx-2 ml-2"
                                href="{% url 'diagnostico_detalhe' proximo_objeto.id %}"> &gt;</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </form>
</div>
{% endblock %}
<!--FIM DETALHE-->