{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load templatetags %}
{% load tz %}


{% block titulos %}{{title}}|{% endblock %}

{% block menul %}
<div class="form-group text-left mt-2 m-3">
    <a title="Clique aqui para fechar" href="{% url 'passagem_plantao_listar' %}"
        class="mt-2 list-group-item list-group-item-action bg-primary text-white rounded">
        <i class="fas fa-times-circle me-2"></i>Fechar
    </a>
    <a href="{% url 'passagem_plantao_listar' %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fas fa-list me-2"></i>Lista de Passagens de Plantões
    </a>
</div>
<!-- FIM MENU LATERAL -->
{% endblock %}



{% block cabdados %}
{% include 'parciais/_module_context_header.html' with icon_class='fas fa-exchange-alt' title='Nova Passagem de Plantão' subtitle='Registre a troca de plantão com foco na continuidade assistencial.' primary_label='Fluxo' primary_value='Cadastro' secondary_label='Módulo' secondary_value='Passagem de Plantão' %}
<!-- FIM DADOS DO OBJETO -->
{% endblock %}




{% block lista %}
<div class="container">
    <form id="form-passagem-cadastrar" method="post" enctype="multipart/form-data" class="form-control mt-2">
        {% csrf_token %}
        {{ form.media }}

        <div class="row">

            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">




                <div id="table-container">
                    <div class="container">
                        <div class="row">


                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <label for="id_tipo_evolucao">Tipo de Passagem de Plantão:</label>
                                <select class="form-control" id="id_tipo_passagem_plantao" name="tipo_passagem_plantao">
                                    {% for option in tipo_passagem_plantao_form %}
                                    <option value="{{ option.id }}">{{ option }}</option>
                                    {% endfor %}
                                </select>
                            </div>


                            {% if not tipo_passagem_plantao_form %}
                            {% for i in form %}
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                {{ i|as_crispy_field }}
                            </div>
                            {% endfor %}
                            {% else %}
                            {% for field in form %}
                            {% if field.name != 'tipo_passagem_plantao' %}
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                {{ field|as_crispy_field }}
                            </div>
                            {% endif %}
                            {% endfor %}
                            {% endif %}


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                {% include 'parciais/_workflow_submit_sidebar.html' with button_id='btn-passagem-cadastrar' submit_label='Salvar' status_title='Cadastrando...' status_spinner_class='text-success' status_text_class='text-success' %}

            </div>

        </div>

    </form>
</div>
{% endblock %}
<!--FIM CADASTRAR-->