{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load templatetags %}


{% block titulos %}{{title}}|{% endblock %}


{% block menul %}
<div class="form-group text-left mt-2 m-3">
    <a title="Clique aqui para fechar" href="{% url 'passagem_plantao_listar' %}"
        class="mt-2 list-group-item list-group-item-action bg-primary text-white rounded">
        <i class="fas fa-times-circle me-2"></i>Fechar
    </a>
    <a href="{% url 'passagem_plantao_listar' %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fas fa-list me-2"></i>Lista de Passagens de Plantões
    </a>
</div>
<!-- FIM MENU LATERAL -->
{% endblock %}


{% block cabdados %}
{% include 'parciais/_module_context_header.html' with icon_class='fas fa-exchange-alt' title='Passagem de Plantão' subtitle='Consulta em modo leitura do registro selecionado.' primary_label='Fluxo' primary_value='Detalhe' secondary_label='Registro' secondary_value=object.pk %}

<!-- FIM DADOS DO OBJETO -->
{% endblock %}


{% block lista %}
<div class="container">
    <form id='fomr-passagem-editar' class="form-control mt-2">
        {% csrf_token %}
        {{ passagem_form.media }}

        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">





                <div id="table-container">
                    <div class="container">
                        <div class="row">




                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <label for="id_tipo_evolucao">Tipo de Passagem de Plantão:</label>
                                <select class="form-control" id="id_tipo_passagem_plantao" name="tipo_passagem_plantao"
                                    disabled>
                                    {% for option in passagem_form.tipo_passagem_plantao %}
                                    <option value="{{ option.id }}">{{ option }}</option>
                                    {% endfor %}
                                </select>
                            </div>


                            <div id="passagem_texto" class="col-lg-12 col-md-12 col-sm-12 detail-mode" disabled>
                                {{ passagem_form.passagem_plantao }}
                            </div>


                            <div class="col-md-12">
                                {{ passagem_form.us_registro|as_crispy_field }}
                                {{ passagem_form.dt_registro|as_crispy_field }}
                            </div>

                            <div class="col-md-12">
                                {{ passagem_form.us_atualizacao|as_crispy_field }}
                                {{ passagem_form.dt_atualizacao|as_crispy_field }}
                            </div>

                            <div class="col-md-12">
                                {{ passagem_form.status|as_crispy_field }}

                            </div>

                            <div class="col-md-12">
                                {{ passagem_form.estabelecimento|as_crispy_field }}
                            </div>


                        </div>
                    </div>
                </div>
            </div>





            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                {% include 'parciais/_detail_object_nav.html' with detail_url_name='passagem_plantao_detalhe' nav_label='Navegar entre passagens de plantao' %}
            </div>

        </div>

    </form>
</div>
{% endblock %}
<!--FIM DETALHE-->