{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load tz %}


{% block titulos %}{{title}}|{% endblock %}



{% block menul %}
<div class="form-group text-left m-3 mt-2">

    <a title="Clique aqui para fechar"
        href="{% url 'perdas_ganhos_listar' atendimento_id=atendimento_id %}"
        class="mt-2 list-group-item list-group-item-action bg-primary text-white rounded">
        <i class="fas fa-times-circle me-2"></i>Fechar
    </a>
    <a href="{% url 'perdas_ganhos_listar' atendimento_id=atendimento_id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fas fa-list me-2"></i>Lista de Perdas e Ganhos
    </a>


    <a href="{% url 'prontuario_detalhe' pk=atendimento_id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fas fa-notes-medical me-2"></i>Prontuário
    </a>

    <a href="{% url 'diagnostico_listar' atendimento_id=atendimento_id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fas fa-diagnoses me-2"></i>Diagnósticos
    </a>


    <a href="{% url 'evolucao_listar' atendimento_id=atendimento_id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fas fa-file-alt me-2"></i>Evoluções
    </a>

    <a href="{% url 'psicoterapia_listar' atendimento_id=atendimento_id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fas fa-brain me-2"></i>Psicoterapias
    </a>
    <a href="{% url 'prescricao_listar' atendimento_id=atendimento_id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fas fa-capsules me-2"></i>Prescrições
    </a>


    <a href="{% url 'adep_listar' atendimento_id=atendimento_id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fas fa-syringe me-2"></i>ADEP
    </a>

    <a href="{% url 'sinais_vitais_listar' atendimento_id=atendimento_id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fa fa-heartbeat me-2"></i>Sinais Vitais
    </a>
    <a href="{% url 'sae_listar' atendimento_id=atendimento_id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fas fa-stethoscope me-2"></i>SAE
    </a>
    <a href="{% url 'plano_cuidados_listar' atendimento_id=atendimento_id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fas fa-procedures me-2"></i>Plano de Cuidados
    </a>

    <a href="" class="mt-2 list-group-item list-group-item-action bg-primary text-white rounded">
        <i class="fa fa-weight me-2"></i>Perdas e Ganhos
    </a>
</div>

<!-- FIM MENU LATERAL -->
{% endblock %}


{% block cabdados %}
{% include 'parciais/_patient_context_header.html' with module_icon='fa fa-weight' module_title='Perdas e Ganhos' module_subtitle='Consulta do registro antropométrico em modo leitura.' primary_label='Prontuário' primary_value=object.atendimento_id secondary_label='Tela' secondary_value='Detalhe' %}

<!-- FIM DADOS DO OBJETO -->
{% endblock %}


{% block lista %}
<div class="container">
    <form id='perdas_ganhos_detalhe' enctype="multipart/form-data" class="form-control mt-2">
        {% csrf_token %}
        {{ perdas_ganhos_form.media }}

        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">

                <div id="table-container">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    {{ perdas_ganhos_form|crispy }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                {% include 'parciais/_detail_object_nav.html' with detail_url_name='perdas_ganhos_detalhe' nav_label='Navegar entre perdas e ganhos' %}
            </div>
        </div>


    </form>
</div>
{% endblock %}
<!--FIM DETALHE-->