{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load templatetags %}
{% load tz %}


{% block titulos %}{{title}}|{% endblock %}


<link rel="stylesheet" href="{% static 'css/psicoterapia_cadastrar_css.css' %}">


{% block menul %}
<div class="form-group text-left mt-2 m-3">

    <a title="Clique aqui para fechar"
        href="{% url 'psicoterapia_listar' atendimento_id=atendimento.id %}"
        class="mt-2 list-group-item list-group-item-action bg-primary text-white rounded">
        <i class="fas fa-times-circle me-2"></i>Fechar
    </a>
    <a href="{% url 'psicoterapia_listar' atendimento_id=atendimento.id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fas fa-list me-2"></i>Lista de Psicoterapias
    </a>


    <a href="{% url 'prontuario_detalhe' pk=atendimento.id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fas fa-notes-medical me-2"></i>Prontuário
    </a>


    <a href="{% url 'diagnostico_listar' atendimento_id=atendimento.id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fas fa-diagnoses me-2"></i>Diagnósticos
    </a>




    <a href="{% url 'evolucao_listar' atendimento_id=atendimento.id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fas fa-file-alt me-2"></i>Evoluções
    </a>


    <a href="" class="mt-2 list-group-item list-group-item-action bg-primary text-white rounded">
        <i class="fas fa-brain me-2"></i>Psicoterapias
    </a>
    <a href="{% url 'prescricao_listar' atendimento_id=atendimento.id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fas fa-capsules me-2"></i>Prescrições
    </a>


    <a href="{% url 'adep_listar' atendimento_id=atendimento.id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fas fa-syringe me-2"></i>ADEP
    </a>

    <a href="{% url 'sinais_vitais_listar' atendimento_id=atendimento.id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fa fa-heartbeat me-2"></i>Sinais Vitais
    </a>
    <a href="{% url 'sae_listar' atendimento_id=atendimento.id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fas fa-stethoscope me-2"></i>SAE
    </a>
    <a href="{% url 'plano_cuidados_listar' atendimento_id=atendimento.id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fas fa-procedures me-2"></i>Plano de Cuidados
    </a>

    <a href="{% url 'perdas_ganhos_listar' atendimento_id=atendimento.id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fa fa-weight me-2"></i>Perdas e Ganhos
    </a>
</div>

<!-- FIM MENU LATERAL -->
{% endblock %}



{% block cabdados %}
{% include 'parciais/_patient_context_header.html' with module_icon='fas fa-brain' module_title='Nova Psicoterapia' module_subtitle='Registre a sessão mantendo o contexto do paciente acessível.' primary_label='Prontuário' primary_value=atendimento_id secondary_label='Fluxo' secondary_value='Cadastro' %}

<!-- FIM DADOS DO OBJETO -->
{% endblock %}




{% block lista %}
<div class="container">
    <form id="form-psicoterapia-cadastrar" method="post" enctype="multipart/form-data" class="form-control mt-2">
        {% csrf_token %}
        {{ form.media }}
        {{ psicoterapia_form.media }}

        <div class="row">


            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div id="table-container">
                    <div class="container">
                        <div class="row">

                            <div class="col-md-12 mt-4">
                                {{ psicoterapia_form|crispy }}
                            </div>


                        </div>
                    </div>
                </div>
            </div>




            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                {% include 'parciais/_workflow_submit_sidebar.html' with button_id='btn-psicoterapia-cadastrar' submit_label='Salvar' status_title='Cadastrando...' status_spinner_class='text-success' status_text_class='text-success' %}

            </div>

        </div>

    </form>
</div>
{% endblock %}
<!--FIM CADASTRAR-->