{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load templatetags %}

{% block titulos %}{{title}}|{% endblock %}

{% block menul %}
<!-- LINKS DO MENU LATERAL -->
<div class="form-group text-left m-3 mt-2">
    <a href="{% url 'psicoterapia_cadastrar'  atendimento_id=atendimento_id %}"
        class="mt-2 list-group-item list-group-item-action bg-primary text-white rounded" id="btn-novo">
        <i class="fas fa-plus me-2"></i>Novo
    </a>
    <a href="{% url 'prontuario_detalhe' pk=atendimento_id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fas fa-notes-medical me-2"></i>Prontuário
    </a>


    <a href="{% url 'diagnostico_listar' atendimento_id=atendimento_id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fas fa-diagnoses me-2"></i>Diagnósticos
    </a>




    <a href="{% url 'evolucao_listar' atendimento_id=atendimento_id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fas fa-file-alt me-2"></i>Evoluções
    </a>



    <a href="" class="mt-2 list-group-item list-group-item-action bg-primary text-white rounded">
        <i class="fas fa-brain me-2"></i>Psicoterapias
    </a>
    <a href="{% url 'prescricao_listar' atendimento_id=atendimento_id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fas fa-capsules me-2"></i>Prescrições
    </a>


    <a href="{% url 'adep_listar' atendimento_id=atendimento_id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fas fa-syringe me-2"></i>ADEP
    </a>


    <a href="{% url 'sinais_vitais_listar' atendimento_id=atendimento_id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fa fa-heartbeat me-2"></i>Sinais Vitais
    </a>
    <a href="{% url 'sae_listar' atendimento_id=atendimento_id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fas fa-stethoscope me-2"></i>SAE
    </a>
    <a href="{% url 'plano_cuidados_listar' atendimento_id=atendimento_id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fas fa-procedures me-2"></i>Plano de Cuidados
    </a>

    <a href="{% url 'perdas_ganhos_listar' atendimento_id=atendimento_id %}"
        class="mt-2 list-group-item list-group-item-action custom-link rounded">
        <i class="fa fa-weight me-2"></i>Perdas e Ganhos
    </a>

    <form class="mt-2 text-white text-left" method="GET">



        <div class="item-left">
            <h5>Filtros</h5>
        </div>

        <div class="item-left">
            {{ filter.form|crispy }}
        </div>

        <div class="mt-2" style="display: flex; flex-direction: row;">


            <div class="row">


                <div class="col-md-12">

                    <div class="justify-content-center mt-2">
                        <button class="col-md-12 btn btn-primary btn-outline-light justify-content-center"
                            title="Filtrar" type="submit">
                            <i class="fas fa-check" style="transition: color 0.3s;"></i>
                            Filtrar
                        </button>
                    </div>
                </div>


                <div class="col-md-12">

                    <div class="justify-content-center mt-2">
                        <button class="col-md-12 btn btn-outline-danger justify-content-center" name="limpar" value="1">
                            <i class="fas fa-times-circle" style="transition: color 0.3s;"></i>
                            Limpar
                        </button>
                    </div>
                </div>

                {% if psicoterapia.relatorio_psicoterapia %}
                <div class="col-md-12">
                    <div class="justify-content-center mt-2">
                        <!-- Supondo que você tenha uma variável 'atendimento_id' disponível no contexto do template -->
                        <a href="{% url 'download_filtered_pdfs' atendimento_id=atendimento_id %}" target="_blank"
                            title="Download" type="button" class="btn btn-outline-success btn-sm">
                            <i class="fas fa-print" style="transition: color 0.3s;"></i>
                            Download Relatórios Filtrados
                        </a>
                    </div>
                </div>
                {% endif %}

            </div>

        </div>
    </form>
</div>
<!-- FIM MENU LATERAL -->
{% endblock %}


{% block cabdados %}
{% include 'parciais/_patient_record_header.html' with module_icon='fas fa-brain' module_title='Psicoterapias' module_subtitle='Sessões do paciente organizadas em um cabeçalho clínico mais compacto.' %}

<!-- FIM DADOS DO OBJETO -->
{% endblock %}


{% block lista %}


<div id="table-container">
    <table class="table">


        <thead class="sticky-lista listing-table-head text-white">


            <tr>
                <th>Ações</th>
                <th>ID</th>

                <th>Dt.Registro</th>
                <th>Us.Registro</th>
                <th>Dt.Atualização</th>
                <th>Us.Atualização</th>
                <th>Status</th>
            </tr>

        </thead>

        <tbody id="tableBody">
            {% for psicoterapia in object_list %}
            <tr class="data-row">

                <td>
                    <div style="display: flex; flex-direction: row;">
                        <a href="{% url 'psicoterapia_detalhe' pk=psicoterapia.pk %}" title="Ver" type="button"
                            class="btn btn-outline-primary btn-sm">
                            <i class="fas fa-folder-open"></i>
                        </a>
                        <a href="{% url 'psicoterapia_editar' pk=psicoterapia.pk %}" title="Editar" type="button"
                            class="btn btn-outline-warning btn-sm edit-psicoterapia-btn" id="btn-edit">
                            <i class="fas fa-edit"></i>
                        </a>

                    </div>
                </td>


                <td>{{ psicoterapia.pk }}</td>


                <td>{{ psicoterapia.dt_registro|date:"d/m/Y H:i" }}</td>
                <td>{{ psicoterapia.us_registro }}</td>
                <td>{{ psicoterapia.dt_atualizacao|date:"d/m/Y H:i" }}</td>

                {% if psicoterapia.us_atualizacao %}
                <td>{{ psicoterapia.us_atualizacao }}</td>
                {% else %}
                <td></td>
                {% endif %}

                <td>{{ psicoterapia.get_status_display }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="8">Nenhum registro</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}



{% block paginate %}
<!--PAGINACAO-->
{% if is_paginated %}
<div id="pages" class="listing-pagination-panel">
    <div class="listing-pagination-meta">
        <span>Exibindo {{ page_obj.start_index }}-{{ page_obj.end_index }}</span>
        <strong>de {{ page_obj.paginator.count }} registros</strong>
    </div>
    <ul class="pagination listing-pagination btn-sm mb-0">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a href="?{% with filters=request.session.psicoterapia_filters|urlencode %}{{ filters }}{% endwith %}&page=1"
                class="page-link"><i class="fas fa-step-backward"></i></a>
        </li>
        <li class="page-item">
            <a href="?{% with filters=request.session.psicoterapia_filters|urlencode %}{{ filters }}{% endwith %}&page={{ page_obj.previous_page_number }}"
                class="page-link"><i class="fas fa-arrow-left"></i></a>
        </li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="page-item active">
            <span class="page-link">{{ i }}</span>
        </li>
        {% elif i > page_obj.number|add:"-3" and i < page_obj.number|add:"3" %} <li class="page-item">
            <a href="?{% with filters=request.session.psicoterapia_filters|urlencode %}{{ filters }}{% endwith %}&page={{ i }}"
                class="page-link">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a href="?{% with filters=request.session.psicoterapia_filters|urlencode %}{{ filters }}{% endwith %}&page={{ page_obj.next_page_number }}"
                    class="page-link"><i class="fas fa-arrow-right"></i></a>
            </li>
            <li class="page-item">
                <a href="?{% with filters=request.session.psicoterapia_filters|urlencode %}{{ filters }}{% endwith %}&page={{ page_obj.paginator.num_pages }}"
                    class="page-link"><i class="fas fa-step-forward"></i></a>
            </li>
            {% endif %}
    </ul>
</div>
{% endif %}
<!--FIM PAGINAÇÃO-->
{% endblock %}