<!-- prettier-ignore -->
{% extends 'base.html' %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% load tz %} 
{% block titulos %}
{{ title }}|
{% endblock %}

<style>
  .hidden {
    display: none;
  }
</style>

{% block menul %}
<div class="form-group text-left mt-2 m-3">
  <a
    title="Clique aqui para fechar"
    href="{% url 'orcamentos_listar' %}"
    class="mt-2 list-group-item list-group-item-action bg-primary text-white rounded"
  >
    <i class="fas fa-times-circle me-2" style="transition: color 0.3s"></i>Fechar
  </a>
  <a
    href="{% url 'orcamentos_listar' %}"
    class="mt-2 list-group-item list-group-item-action custom-link rounded"
  >
    <i class="fas fa-list me-2"></i>Lista de Orçamentos
  </a>
</div>
{% endblock %}
<!-- prettier-ignore -->
{% block cabdados %}
{% include 'parciais/_module_context_header.html' with icon_class='fas fa-file-invoice-dollar' title='Editar Orçamento' subtitle='Atualize observações, anexo e assinatura com um cabeçalho mais consistente.' primary_label='Fluxo' primary_value='Edição' secondary_label='Registro' secondary_value=object.pk %}
{% endblock %} {% block lista %}
<div class="d-flex justify-content-start">
  <button
    id="insertDefaultDocs"
    data-tipo-documento="orcamentos"
    class="btn btn-sm btn-success btn-outline-light"
  >
    <i class="fas fa-plus" style="transition: color 0.3s"></i>Texto Padrão
  </button>

  <div id="context-menu" style="display: none">
  </div>
</div>

<div class="container">
  <form
    id="form-orcamentos-editar"
    method="post"
    class="form-control mt-2"
    enctype="multipart/form-data"
  >
    {% csrf_token %} {{ form.media }}

    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <div id="table-container">
          <div class="container">
            <div class="row">
              <!-- Campo orcamento -->
              <div class="col-md-6">{{ form.observacao|as_crispy_field }}</div>
              <!-- Campo Orçamento -->
              <div class="col-md-12">{{ form.orcamento|as_crispy_field }}</div>

              <div class="col-md-12">{{ form.assinar|as_crispy_field }}</div>

              <div class="col-md-12">{{ form.status|as_crispy_field }}</div>

              <!--ANEXOS-->
              <div class="col-md-12 mt-2">
                {% include 'parciais/_attachment_input_preview.html' with field=form.anexo current_file=form.instance.anexo preview_id='preview-anexo-orcamentos-editar' title='Anexo do Orçamento' accept='application/pdf,image/png,image/jpeg' %}
              </div>
              <!--ANEXOS-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        {% include 'parciais/_workflow_submit_sidebar.html' with button_id='btn-orcamentos-editar' submit_label='Salvar' status_title='Editando...' status_spinner_class='text-warning' status_text_class='text-warning' %}
      </div>
    </div>
  </form>
</div>
{% endblock %}
<!-- prettier-ignore -->
{% block scriptcustom %}
<script src="{% static 'js/selectparadois.js' %}"></script>
<script src="{% static 'js/texto_padrao_filtrado.js' %}"></script>
<script src="{% static 'js/workflow_attachment_preview.js' %}"></script>

<script>
  $(document).ready(function () {
    $(".django-select2").select2();
  });
</script>
{% endblock %}
